.header {
  grid-row: 1 /  span 3;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../image/bg.jpg);
  background-size: cover; }
  .header-text {
    text-align: center;
    font-size: 1.6rem;
    color: var(--lazy-pink);
    margin: 3rem auto; }
    @media screen and (max-width: 900px) and (orientation: portrait) {
      .header-text {
        font-size: 1.25rem;
        padding-left: 12rem;
        margin-top: 1rem; } }
    @media screen and (max-width: 500px) and (orientation: portrait) {
      .header-text {
        font-size: 1.25rem;
        padding-left: 7rem; } }
    @media screen and (max-width: 375px) and (orientation: portrait) {
      .header-text {
        font-size: 1rem;
        padding-left: 5rem; } }

.mobile-header {
  fill: var(--lazy-pink);
  transition: all .4s;
  padding-top: 1rem;
  padding-right: 1rem;
  display: none; }
  .mobile-header:hover {
    fill: var(--text);
    opacity: .8; }
  .mobile-header:focus {
    transform: translateY(1rem); }
  .mobile-header svg {
    width: 5rem;
    height: 5rem; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .mobile-header {
      display: block;
      margin-top: 0rem;
      cursor: pointer; } }

*, *:after, *:before {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 50%; } }

body {
  position: relative;
  background-color: var(--white-swift);
  font-family: 'Lato', sans-serif;
  outline: none; }
  body ::selection {
    color: var(--white-swift);
    background: var(--lazy-pink); }

:root {
  --lazy-pink:#E66A6A;
  --white-swift: #f2f2ed;
  --hover: black;
  --text: #B85555; }

.header-navbar {
  background-color: var(--lazy-pink);
  grid-row: 4 / span 1;
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .header-navbar {
      display: none;
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
      z-index: 2000; } }
  @media screen and (min-width: 900px) and (orientation: portrait) {
    .header-navbar {
      display: flex; } }
  .header-navbar_collection {
    flex-basis: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.6rem;
    padding: 1.3rem;
    word-break: break-all;
    word-spacing: 1.9rem; }
    @media screen and (max-width: 900px) and (orientation: portrait) {
      .header-navbar_collection {
        flex-direction: column;
        width: auto;
        height: 90%; } }
    @media screen and (max-width: 700px) and (orientation: landscape) {
      .header-navbar_collection {
        font-size: 1.1rem;
        padding: 1rem; } }
    .header-navbar_collection--box {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      color: var(--white-swift); }
      @media screen and (max-width: 900px) and (orientation: portrait) {
        .header-navbar_collection--box {
          justify-content: center; } }
      .header-navbar_collection--box span {
        transition: all .5s; }
        @media screen and (max-width: 900px) and (orientation: portrait) {
          .header-navbar_collection--box span {
            font-size: 2rem; } }
      .header-navbar_collection--box svg {
        fill: var(--white-swift);
        width: 3.2rem;
        height: 1.9rem;
        transition: all 1s; }
        @media screen and (max-width: 900px) and (orientation: portrait) {
          .header-navbar_collection--box svg {
            width: 5rem;
            height: 2.5rem; } }
      .header-navbar_collection--box:hover span {
        color: var(--hover);
        opacity: 0.7; }
      .header-navbar_collection--box:hover svg {
        fill: var(--hover);
        opacity: 0.7; }

.container {
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
  box-shadow: 0rem 2rem 1rem rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 1024px) {
    .container {
      width: 100%; } }
  @media screen and (max-width: 1440px) and (min-width: 1024px) {
    .container {
      width: 80%;
      box-shadow: none; } }
  @media screen and (orientation: landscape) and (max-width: 1024px) {
    .container {
      height: 150vh; } }
  @media screen and (orientation: landscape) and (max-width: 768px) {
    .container {
      height: 200vh; } }
  @media screen and (orientation: landscape) and (max-width: 640px) {
    .container {
      height: 235vh; } }
  @media screen and (orientation: portrait) and (max-width: 500px) {
    .container {
      height: 150vh; } }

.menu {
  background-color: var(--lazy-pink);
  grid-row: 5 / span 10;
  grid-column: 1 / span 3;
  margin-top: 3.2rem;
  display: flex;
  position: relative;
  flex-direction: column; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .menu {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
      margin-top: 0; } }
  .menu__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; }
    .menu__bottom--btn {
      font-size: 1.5rem;
      padding: 1rem 2rem;
      align-self: center;
      border-radius: 1.2rem;
      background-color: var(--white-swift);
      border: 0.2rem solid var(--lazy-pink);
      color: var(--lazy-pink);
      cursor: pointer;
      transition: all .3s; }
      @media screen and (max-width: 900px) and (orientation: portrait) {
        .menu__bottom--btn {
          margin-top: 2rem; } }
      .menu__bottom--btn:active {
        transform: translateY(0.3rem); }
      .menu__bottom--btn:hover {
        background-color: var(--lazy-pink);
        border-radius: 1.5rem;
        color: var(--white-swift); }
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-swift); }
    .menu__list--item {
      cursor: pointer;
      text-align: center;
      width: 100%;
      font-size: 2.1rem;
      padding: 1.3rem;
      transition: all .4s; }
      .menu__list--item:hover {
        color: black;
        background-color: var(--white-swift);
        opacity: 0.5; }
    .menu__list--static {
      text-align: center;
      width: 100%;
      font-size: 1.6rem;
      padding: .4rem; }
    .menu__list--title {
      font-size: 2.4rem; }
      @media screen and (max-width: 700px) and (orientation: landscape) {
        .menu__list--title {
          font-size: 2rem;
          text-align: center; } }
    .menu__list--link {
      text-decoration: none;
      color: currentColor; }
  .menu-collection {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white-swift); }

.alarm {
  fill: var(--white-swift);
  opacity: .8;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all .5s;
  padding: 3rem; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .alarm {
      width: 4rem;
      height: 4rem;
      margin-bottom: 3rem; } }
  .alarm:hover {
    fill: var(--hover);
    opacity: .2; }

.bell {
  display: none;
  margin-bottom: 2rem;
  position: relative; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .bell {
      position: absolute;
      z-index: 1000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--lazy-pink);
      color: var(--white-swift);
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 3.5rem;
      margin-bottom: 0; } }

.menu-x {
  display: none; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .menu-x {
      font-size: 4rem;
      color: var(--white-swift);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: .5rem 1rem;
      cursor: pointer; } }

.footer {
  background-color: var(--lazy-pink);
  grid-row: 15 / span 1;
  grid-column: 1 / -1;
  display: flex;
  margin-top: 3.2rem;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .footer {
      margin-top: 0; } }
  .footer h1 {
    font-size: 1.6rem;
    color: var(--white-swift); }

.content {
  border: .1rem solid silver;
  border-left: 0.1rem solid var(--lazy-pink);
  grid-row: 5 / span 10;
  grid-column: 4 / -1;
  margin-top: 3.2rem;
  overflow-y: auto;
  line-height: 2.5; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .content {
      border-right: 0.1rem solid var(--lazy-pink);
      border-left: 0.1rem solid var(--lazy-pink);
      grid-row: 4 / span 11;
      grid-column: 1 / -1;
      margin-top: 0; } }

.content__loader {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  border: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  align-self: center;
  border-radius: 1.2rem;
  background-color: var(--white-swift);
  border: 0.2rem solid var(--lazy-pink);
  color: var(--lazy-pink);
  cursor: pointer;
  transition: all .3s; }
  .btn:active {
    transform: translateY(1rem); }
  .btn:hover {
    background-color: var(--lazy-pink);
    border-radius: 1.5rem;
    color: var(--white-swift); }

.doc {
  color: black;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  list-style: none; }

.docLink {
  text-decoration: none;
  color: black;
  cursor: pointer; }
  .docLink:hover {
    color: var(--lazy-pink); }

.docHeader {
  text-align: center;
  font-size: 3rem;
  color: var(--lazy-pink);
  padding: 1rem; }

.docList {
  list-style: none;
  text-align: center; }

.contact {
  text-align: left;
  padding: 1rem;
  font-size: 2rem;
  color: black;
  margin-top: 1rem;
  margin-left: 1rem; }

.contact_title {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  color: var(--lazy-pink);
  margin-top: 1rem; }

.comp {
  text-align: center;
  padding: .5rem;
  font-size: 2.5rem;
  color: black;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s; }
  .comp:hover {
    color: var(--lazy-pink); }

.comp_list {
  text-decoration: none;
  color: black;
  cursor: pointer; }
  .comp_list:hover {
    color: var(--lazy-pink); }

.cList {
  padding-left: 4rem; }

.list {
  display: flex;
  text-align: center;
  cursor: pointer;
  color: var(--lazy-pink);
  font-size: 2.5rem;
  padding: .6rem;
  border-bottom: .3rem solid transparent;
  transition: all 1s; }
  .list:hover {
    border-bottom: 0.3rem solid var(--lazy-pink); }

.school_content {
  padding: 3rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: center; }

.heading {
  text-align: center;
  padding: 2rem; }

.tests {
  text-align: left;
  padding: 1rem;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  transition: all .2s; }
  .tests:hover {
    color: var(--lazy-pink); }

.newsHeader {
  text-align: center;
  padding: 1rem;
  color: var(--lazy-pink);
  font-size: 4rem; }

.news {
  text-align: center;
  padding: 2rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  transition: all .5s; }
  .news:hover {
    color: var(--lazy-pink); }

.good {
  text-align: left;
  padding: 1rem;
  color: black;
  font-size: 2rem; }

.loader {
  color: var(--lazy-pink);
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.home {
  font-size: 2.25rem;
  padding: 2rem;
  text-align: left; }

.lenk {
  text-decoration: none;
  color: var(--text); }
  .lenk:hover {
    color: var(--lazy-pink); }

.cardbox {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around; }

.card {
  flex-basis: 50%;
  height: 40%;
  flex-shrink: 1;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
  transition: all .3s;
  color: white;
  border-radius: .5rem;
  position: relative; }
  @media screen and (max-width: 900px) and (orientation: portrait) {
    .card {
      flex-basis: 75%;
      height: 40%;
      box-shadow: none; } }
  .card--photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden; }
  .card:hover {
    box-shadow: 0rem 1.25rem 1rem rgba(0, 0, 0, 0.5); }
  .card__front {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    border-radius: .5rem;
    position: absolute;
    overflow: hidden; }
    .card__front--title {
      font-size: 2rem;
      font-weight: 700;
      background-color: var(--lazy-pink); }

.readmore__btn {
  border: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(var(--lazy-pink), 0));
  opacity: .7;
  height: 4rem;
  width: 9rem;
  margin-top: 5.5rem;
  transition: all .1s;
  cursor: pointer; }
  .readmore__btn:active {
    transform: translateY(0.1rem); }
  .readmore__btn:hover {
    background-image: linear-gradient(rgba(189, 173, 173, 0.1), rgba(var(--lazy-pink), 0.1)); }

.useless {
  height: 1rem;
  width: 50%; }

.video {
  width: 100%;
  height: 100%; }

@keyframes tingle {
  50% {
    text-shadow: 0rem 2rem 1rem rgba(0, 0, 0, 0.5);
    font-size: 6rem; }
  100% {
    font-size: 5rem; } }

.letter1 {
  animation: tingle 3s linear infinite;
  animation-delay: 3s; }

.letter2 {
  animation: tingle 3s linear infinite;
  animation-delay: 2s; }

.letter3 {
  animation: tingle 3s linear infinite;
  animation-delay: 4s; }

.letter4 {
  animation: tingle 5s linear infinite;
  animation-delay: 6s; }
