.contact{
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
    color:  black;
    margin-top: 1rem;
    margin-left: 1rem;
}

.contact_title{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    color:  var(--lazy-pink);
    margin-top: 1rem;
}