.doc{
  color: black;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  list-style: none;
}
.docLink{
  text-decoration: none;
  color:black;
  cursor: pointer;
  &:hover{
    color:var(--lazy-pink);
  }
}

.docHeader{
    text-align: center;
    font-size: 3rem;
    color: var(--lazy-pink);
    padding: 1rem;

}

.docList{
    list-style: none;
    text-align: center;
}