.footer{
    background-color: var(--lazy-pink);
   grid-row: 15 / span 1;
   grid-column: 1 / -1;
    display: flex;
    margin-top: 3.2rem;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 900px)  and (orientation:portrait){
       margin-top: 0;

    }
    h1{
        font-size: 1.6rem;
        color: var(--white-swift);
        
    }
}