*,*:after,*:before{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    @media screen and(max-width:1024px)  {
        font-size: 50%;
    }

}
body{
    position: relative;
    background-color: var(--white-swift);
    font-family: 'Lato', sans-serif;
    outline: none;
    ::selection{
        color: var(--white-swift);
        background: var(--lazy-pink);
    }
}
:root{
    --lazy-pink:#E66A6A;
    --white-swift: #f2f2ed;
    --hover: black;
    --text: #B85555;
}

